.boxMovie {
  display: flex;
  padding: 0 10px 10px;
  gap: 20px;
  box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.24);
}

.titleMovie {
  font-size: 22px;
}

.subtitleMovie {
  font-size: 18px;
}
.subtitleH3 {
  font-size: 16px;
}
